* {
    margin: 0;
    box-sizing: border-box;
}

main {
    overscroll-behavior: contain;
}

/* LOGIN */

.login-div {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.login-form input {
    height: 71px;
    width: 73%;
    margin-bottom: 30px;
    text-align: center;
    font-size: 23px;
    border: none;
    background-color: #efefef;
    border-radius: 5px;
}

.login-form button {
    font-size: 30px;
    height: 62px;
    width: 51%;
    border: none;
    background-color: greenyellow;
    border-radius: 5px;
}

/* ROOM  */

.div-room {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.div-room button {
    position: absolute;
    bottom: 40px;
    font-size: 24px;
    height: 69px;
    width: 40%;
    border: none;
    background-color: greenyellow;
    border-radius: 15px;
}

.users-room {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.users-room p {
    font-size: 20px;
}

.headline-room {
    font-size: 39px;
    margin-bottom: 25px;
    margin-top: 50px;
}

.countdown-room {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
}

/* GUESSER */

.guessers-canvas-div {
    display: flex;
    flex-direction: column;
}
.guessers-canvas-div h1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.wrong-guess {
    color: red;
}

.keyboard-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyboard-row-2 {
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyboard-key {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 0 3px 0 3px;
    height: 77px;
    flex: 1;
    border: 0;
    border-radius: 4px;
    background-color: #818384;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    user-select: none;
}

.keyboard {
    z-index: 10;
    position: absolute;
    bottom: 0px;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4px;
}

.input-guesser {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

.input-guesser h3 {
    font-size: 25px;
}

.guessed-word-div {
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
}

/* DRAWER */

.tools-drawer {
    z-index: 100000;
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    background-color: sandybrown;
}

.drawing-word {
    position: absolute;
    top: 0;
}

.color-width-input {
    width: 80%;
}

.sizeable-dot {
    background-color: black;
    border: 5px solid white;
    border-radius: 50%;
}

.pencil-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

/* COLORTOOLS */

.color-picker-div {
    display: flex;
    flex-direction: column;
}

.top-colors {
    display: flex;
}
.bottom-colors {
    display: flex;
}

.colors {
    margin: 5px;
    height: 50px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
}

.black {
    background-color: black;
}
.brown {
    background-color: brown;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.pink {
    background-color: hotpink;
}
.blue {
    background-color: blue;
}
.orange {
    background-color: orange;
}

.colors:hover {
    border: 3px solid white;
}
